#timer {
 font-size: 50px;
}
.jumbotron {
    text-align: center;
}
#trivia {
    font-size: 32px;
    padding: 10px;
}
#timer-div {
    text-align: center;
}
#questions {
    text-align: center;
}
#answer {
    padding-left: 10px;
    padding-right: 10px;
}
#buttons {
    text-align: center;
    margin-bottom: 20px;
}